{{!--
Re-usable card for linking to posts
--}}

<article class="{{post_class}} py-5 border-b last:border-b-0 dark:border-slate-800 border-slate-200">
  <a class="" href="{{url}}">
    <h2 class="font-semibold dark:text-slate-200">{{title}}</h2>
    <div class="mt-1 mb-3 text-slate-700 dark:text-slate-200 text-sm">
      <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      <span class="bull">&bull;</span> {{reading_time}}
    </div>
    <p class="text-base text-slate-700 dark:text-slate-200">{{excerpt}}</p>
  </a>
</article>
