<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{asset "built/index.css"}}" />
  <script src="{{asset "built/index.js"}}" defer></script>

  <title>{{meta_title}}</title>

  {{ghost_head}}
</head>

<body class="{{body_class}}">
  <main class="max-w-xl px-8 lg:px-0 mx-auto py-12 text-slate-800">
    {{{body}}}
  </main>

  <footer class="gh-foot">
    <div class="gh-container">
      <div class="gh-foot-menu">
        {{navigation type="secondary"}}
      </div>
    </div>
  </footer>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
