<!DOCTYPE html>
<html lang="{{@site.locale}}" class="h-full">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}} h-full">
<div class="max-w-5xl mx-auto h-full flex">

<main class="flex items-center justify-center flex-1 text-center">


            <section class="flex gap-2 flex-col">

                <h1 class="text-3xl font-semibold">{{statusCode}}: {{message}}</h1>
                <p class="hover:underline mt-4"><a href="{{@site.url}}">Go to the front page →</a></p>

                {{#if errorDetails}}
                <section class="gh-error-stack">
                    <h4>Theme errors:</h4>
                    <ul class="gh-error-stack-list">
                        {{#foreach errorDetails}}
                        <li>
                            <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                            {{#foreach failures}}
                            <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                            <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                            {{/foreach}}
                        </li>
                        {{/foreach}}
                    </ul>
                </section>
                {{/if}}

            </section>


</main>
</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
