{{!< default}}

{{#post}}

<article class=" {{post_class}} ">
  <a class="flex items-center text-sm font-bold text-green-600 mb-5" href="/">
    <svg class="h-5 w-5 fill-current" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.31-5.522a1.75 1.75 0 0 1 0-2.634l6.31-5.522c.808-.707 2.073-.133 2.073.941v11.796Z"></path></svg><span class="ml-1" aria-hidden="true">Home</span>
  </a>
  <header class="">
    <h1 class="text-2xl font-semibold dark:text-slate-100">{{title}}</h1>
    <div class="mt-3 text-slate-800 dark:text-slate-200 text-sm mb-8">
      <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      <span class="bull">&bull;</span> {{reading_time}}
      {{#if tags}}
      <span class="bull">&bull;</span>
      <span class="text-sm lowercase">
        {{#foreach tags}}<a href="{{url}}" class="underline after:content-[','] after:mr-2 last:after:content-none">#{{name}}</a>{{/foreach}}
      </span>
      {{/if}}
    </div>

  </header>

  <div class="max-w-full text-slate-700 dark:text-slate-200 dark:prose-invert prose prose-img:border prose-video:border prose-image:border-gray-100 prose-video:border-gray-100 prose-img:max-h-[450px] prose-img:w-auto prose-img:rounded-md prose-video:max-h-[450px] prose-video:w-auto prose-video:rounded-md prose-[iframe]:relative">
    {{content}}
  </div>
</article>

<aside class="mt-10 border-t pt-10 dark:text-slate-200 ">
  <div class="font-medium mb-3 text-base">Recent Posts: </div>
  <ul class="list-disc list-inside ">
    {{#next_post}}
      {{#if url}}
      <li class="mb-2">
        <a class="underline" href="{{url}}">{{title}}</a> -
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      </li>
      {{/if}}
    {{/next_post}}

    {{#prev_post}}
      {{#if url}}
      <li class="mb-2">
        <a class="underline" href="{{url}}">{{title}}</a> -
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      </li>
      {{/if}}
    {{/prev_post}}
  </div>
</aside>

{{/post}}
